.venv/
venv/
.env/
__pycache__/
*.py[cod]
*.spec
build/
dist/
.eggs/
*.egg-info/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.vscode/
.idea/
_page*.png
_mark6_*
_mark7_*
_test2_*
_delete_image_*
测试.pdf
Test-*.pdf
Test*.pdf
